In [64]:
import pandas as pd

In [65]:
shit = pd.read_csv("traffic.csv")

In [66]:
shit.head()
shit['Cock'] = pd.Series()

<ipython-input-66-4824bca8b03f>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  shit['Cock'] = pd.Series()

In [67]:
len(shit)
shit['Info'] = shit['Info'].str.split()

In [68]:
for i in range(len(shit)):
    shit['Cock'].iloc[i] = shit['Info'].iloc[i][8].split('.')[0]
    shit['Info'].iloc[i] = shit['Info'].iloc[i][3]

c:\users\nghoc\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [70]:
shit['Info'].iloc[i]

'0x3664'

In [71]:
penis = shit.copy(deep=True)

In [84]:
shit.sort_values(by="Cock")['Cock']

4540     d33d01233EEBT
14758    d33d012C4IDNM
19270    d33d012CAYLNM
18094    d33d012CYIDDN
1433     d33d012FMXSA3
             ...
8003     d33d64ZLTORQX
8379     d33d64ZLYEBSX
578      d33d64ZOEBKES
5075     d33d64ZTBOVRW
2623     d33d64ZUXIYLF
Name: Cock, Length: 19487, dtype: object

In [74]:
penis

         No.         Time  Length    Info           Cock
0          1     0.000000     161  0x4ce3  d33d21NRXXEZL
1          2     1.173819     161  0xaf96  d33d05NEBUXA4
2          3     1.701817     161  0x8716  d33d453VNUQGI
3          4     1.750556     161  0xd080  d33d0433MN5ZC
4          5     2.150660     161  0x2ca0  d33d02A43JOQQ
...      ...          ...     ...     ...            ...
19482  19483  4368.470744     161  0x060b  d33d01LPMQQGM
19483  19484  4368.709951     161  0xb851  d33d01YLVMNUW
19484  19485  4368.739111     161  0x8f4e  d33d01E5LTEBQ
19485  19486  4368.998883     161  0x022d  d33d01WGIDBEB
19486  19487  4369.016234     161  0x3664  d33d01XHK3TDF

[19487 rows x 5 columns]